<h1>This is the Sign Up Page</h1>
<form method='POST' action='/exercises'>
    <p>    
    <label for='username'>Username:</label>
    <input type='text' name='username' id='username'>
    </p>
    <p>
    <label for='password'>Password:</label>
    <input type='password' name='password' id='password'>
    </p>
    <p>
    <label for='email'>Email:</label>
    <input type='email' name='email' id='email'> #is there an email input type?   
    </p>
    <p>
    <input type='submit' value='submit'>
    </p>

</form>